[package]
name = "pico-detect"
version = "0.4.1"
authors = ["Rostyslav Bohomaz <rostyslav.db@gmail.com>"]
edition = "2018"
keywords = ["pico", "detection", "localization", "prediction"]
categories = ["computer-vision", "wasm"]
license = "MIT"
description = "Pixel Intensity Comparison-based Object (PICO) detection library."
repository = "https://github.com/rostyslavb/pico-detect"
readme = "README.md"
exclude = [
  "tests",
  "models",
  "examples",
  ".gitattributes"
]

[lib]
name = "pico_detect"
bench = false

[dependencies]
derive-new = "0.5.9"
nalgebra = "0.29.0"
image = { version = "0.23.14", default-features = false }
imageproc = { version = "0.22.0", default-features = false }
rand = "0.8.4"

[dev-dependencies]
image = "0.23.14"
imageproc = "0.22.0"
criterion = "0.3.5"
structopt = "0.3.23"
approx = "0.5.0"
rand_xorshift = "0.3.0"

[dev-dependencies.cargo-husky]
version = "1.5.0"
features = ["precommit-hook", "run-cargo-clippy"]

[[bench]]
name = "benchmarks"
harness = false

# uncomment for debugging
# [profile.release]
# debug = true
